@import 'dropdown-button/dropdown-button';
@import 'dropdown-menu/dropdown-menu';
@import '../text-field/text-field';

.dropdown {
  border-color: $dark-50;
  .dropdown-button {
    border-radius: 4px 4px 0 0;
    border-color: $dark-50;
  }
}