include dropdown-button/dropdown-button
include dropdown-menu/dropdown-menu

mixin dropdown
  .dropdown 
    +dropdown-button({text: '2 спальни, 2 кровати...', middle:true, isDark: true})
    +dropdown-menu