mixin dropdown-arrow(options)

  if !options
    - options = {}

  -
    var iconClassName= 'dropdown-arrow'
    iconClassName += options.isDark ? ' dropdown-arrow_dark' : ''
    iconClassName += options.isExpand ? ' dropdown-arrow_expand' : ''

  div(class = iconClassName)
    .dropdown-arrow__arrow