.dropdown-arrow {
  width: 40px;
  height: 24px;
  position: relative;
  opacity: 50%;
}
.dropdown-arrow__arrow, .dropdown-arrow__arrow::after {
  position: absolute;
  background: $dark-100;
}
.dropdown-arrow__arrow {
  top: 13px;
  left: 13px;
  width: 8px;
  height: 2px;
  transform: rotate(45deg);
}
.dropdown-arrow__arrow::after {
  content: '';
  width: 2px;
  height: 7px;
  left: 6px;
  top: -6px;
  transform: rotate(180deg);
}
.dropdown-arrow_dark {
  opacity: 75%;
}
.dropdown-arrow_expand {
  transform: rotate(180deg);
}