@import '../../../../../buttons/button/button';

.dropdown-menu__plus-button {
  order: 3;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $dark-25;
  border-radius: 50%;
}
.dropdown-menu__plus-button::after, .dropdown-menu__plus-button::before {
  content: '';
  position: absolute;
  background: $dark-50;
  left: 10px;
  width: 7px;
  height: 1px;
}
.dropdown-menu__plus-button::before {
  transform: rotate(90deg);
}
.dropdown-menu__plus-button-plug {
  position: absolute;
  left: 13px;
  width: 1px;
  height: 1px;
  background: white;
}
.dropdown-menu__plus-button_transparent {
  opacity: 50%;
}