.checkbox-buttons .desc-box__title {
  margin-bottom: 16px;
}
.checkbox {
  margin-bottom: 3px;
}
.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox__label::before {
  align-self: flex-start;
  margin-right: 10px;
  content: '';
  flex-shrink: 0;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $dark-25;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.checkbox__input:checked+.checkbox__label::before {
  border-color: $purple-prime;
  background-image: url(images/svg/checkmark.svg);
}
.checkbox__text-wrapper {
  display: flex;
  flex-direction: column;
}
.checkbox__text {
  color: $dark-50;
  line-height: 18px;
}
.checkbox_rich {
  margin-bottom: 9px;
}
.checkbox_rich .checkbox__text {
  font-family: $font-stack-bold;
  font-size: 14px;
  color: $dark-75;
  margin-top: 1px;
  margin-bottom: 6px;
}
.checkbox_rich .checkbox__addtext {
  color: $dark-50;
  line-height: 14px;
  font-size: 12px;
}