@import '../../../text-field/text-field';
@import '../../../form/form';
@import '../__desc-box/grid-container__desc-box';

.grid-container__text-field-hover {
  grid-column-start: 1;
  grid-row-start: 3;

  .text-field {
    border-color: $dark-50;
  }
}

