include ../__desc-box/grid-container__desc-box
include ../../../text-field/text-field

mixin text-field-hover
  .grid-container__text-field-hover
    +desc-box({title: 'TEXT FIELD', extra: 'HOVER / FOCUS'}) 
      +text-field('This is pretty awesome')
