include ../../comment/comment

.comment-block
  +comment({image: 'image-1.jpg', likeCount: '12', likeActive: true, name: 'Мурад Сарафанов', date: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})