include ../../../dropdown/dropdown-button/dropdown-button
include ../../../desc-box/desc-box

.dropdown-text-field
  +desc-box({title: 'DROPDOWN'})
    +dropdown-button({text: 'Сколько гостей', mini: false})