include ../dropdown/dropdown-button/dropdown-button

form.room-pick-card
  h1.room-pick-card__title= 'Найдём номера под ваши пожелания'
  +title-box({class: 'room-pick-card-date-in-title', title: 'ПРИБЫТИЕ'})
  +dropdown-button({class: 'room-pick-card-date-in-btn', text: 'ДД.ММ.ГГГГ', width: 'mini'})
  +title-box({class: 'room-pick-card-date-out-title', title: 'ВЫЕЗД'})
  +dropdown-button({class: 'room-pick-card-date-out-btn', text: 'ДД.ММ.ГГГГ', width: 'mini'})
  +title-box({class: 'room-pick-card-guests-title', title: 'ГОСТИ'})
  +dropdown-button({class: 'room-pick-card-guests-btn', text: 'Сколько гостей'})
  +big-button({class: 'room-pick-card-pick-btn', type: 'button', text: 'ПОДОБРАТЬ НОМЕР'})