include ../../../dropdown/dropdown-button/dropdown-button
include ../../../desc-box/desc-box

.filter-date-dropdown
  +desc-box({title:'FILTER DATE DROPDOWN'})
    +dropdown-button({text: '19 авг - 23 авг', middle: true})