include ../../radio-group/radio-group

.radio-buttons
  +desc-box({title: 'RADIO BUTTONS'})
  +radio-group
    +radio-button({text: 'Мужчина', id: 'male', name: 'gender', checked: true})
    +radio-button({text: 'Женщина', id: 'female', name: 'gender'})