@import '../../radio-button/radio-button';

.radio-buttons {
  grid-column-start: 3;
  grid-row-start: 5;
  .title-box {
    margin-bottom: 14px;
  }
}
.radio-group {
  display: flex;
  justify-content: space-between;
  width: 220px;
}