mixin dropdown-arrow-icon(options)
  if !options
    - options = {}
  -
    var iconClassName = 'dropdown-icon'
    iconClassName += options.dark ? ' dropdown-icon_dark' : ''
    
  .dropdown-icon(class=iconClassName)
    .dropdown-arrow