.dropdown-icon {
  width: 43px;
  height: 42px;
  position: relative;
  opacity: 50%;
}
.dropdown-arrow {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 8px;
  height: 2px;
  transform: rotate(45deg);
  background: $dark-100;
}
.dropdown-arrow::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 7px;
  left: 6px;
  top: -6px;
  transform: rotate(180deg);
  background: $dark-100;
}
.dropdown-icon_dark {
  opacity: 75%;
}