mixin dropdown-arrow-icon(options)
  if !options
    - options = {}

  -
    var arrowClassName = 'dropdown-arrow'
    arrowClassName += options.dark ? ' dropdown-arrow_dark' : ''
    

  .dropdown-icon
    div(class=arrowClassName)