@import '../../default-button/default-button';
@import '../../white-button/white-button';
@import '../../link/link';
@import '../../big-button/big-button';

.buttons {
  grid-column-start: 5;
  grid-row-start: 3;
  grid-row-end: 9;
  .title-box {
    margin: 3px 0 16px 0;
  }
}
.buttons-container {
  display: grid;
  grid-template:
    [row1-start] 'default-button . default-button_hover' 44px [row1-end]
    [row2-start] '. . .' 30px [row2-end]
    [row3-start] 'white-button . white-button_hover' 44px [row3-end] / 99px 20px 99px;
  margin-bottom: 31px;
}
.buttons-default-button {
  grid-area: default-button;
}
.buttons-container .buttons-default-button_hover {
  grid-area: default-button_hover;
  background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
}
.buttons-white-button {
  grid-area: white-button;
}
.buttons-white-button_hover {
  grid-area: white-button_hover;
}
.buttons-white-button_hover .white-button__border {
  background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
}
.links-container {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin-bottom: 30px;
}
.links-link_hover .link__text  {
  color: $dark-50;
}