include ../../default-button/default-button
include ../../white-button/white-button
include ../../link/link
include ../../big-button/big-button

.buttons
  +title-box({title: 'BUTTONS'})
  .buttons__container
    +default-button({text: 'CLICK ME', type: 'button'})
    +white-button({text: 'CLICK ME', type: 'button'})
    +default-button({text: 'CLICK ME', type: 'button'})
    +white-button({text: 'CLICK ME', type: 'button'})
  .links__container
    +link({href: '#', text: 'CLICK ME'})
    +link({href: '#', text: 'CLICK ME'})
  +big-button({text: 'ПЕРЕЙТИ К ОПЛАТЕ', type: 'button'})