include ../../default-button/default-button
include ../../white-button/white-button
include ../../link/link
include ../../big-button/big-button

.buttons
  +title-box({title: 'BUTTONS'})
  .buttons-container
    +default-button({class: 'buttons-default-button', text: 'CLICK ME', type: 'button'})
    +default-button({class: 'buttons-default-button_hover', text: 'CLICK ME', type: 'button'})
    +white-button({class: 'buttons-white-button', text: 'CLICK ME', type: 'button'})
    +white-button({class: 'buttons-white-button_hover', text: 'CLICK ME', type: 'button'})
  .links-container
    +link({class: 'links-link', href: '#', text: 'CLICK ME'})
    +link({class: 'links-link_hover', href: '#', text: 'CLICK ME'})
  +big-button({text: 'ПЕРЕЙТИ К ОПЛАТЕ', type: 'button'})