@import '../../default-button/default-button';
@import '../../white-button/white-button';
@import '../../link/link';
@import '../../big-button/big-button';

.buttons {
  grid-column-start: 5;
  grid-row-start: 3;
  grid-row-end: 9;
  .desc-box {
    margin: 3px 0 16px 0;
  }
}
.buttons__container {
  display: grid;
  grid-template:
    [start] 'default-button . default-button_hover' 44px [row2]
    [row2] '. . .' 30px [row3]
    [row3] 'white-button . white-button_hover' 44px [row-end] / 99px 20px 99px;
  margin-bottom: 31px;
}
.buttons__container form:nth-of-type(1) {
  grid-area: default-button;
}
.buttons__container form:nth-of-type(2) {
  grid-area: default-button_hover;
}
.buttons__container form:nth-of-type(2) .default-button {
  background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
}
.buttons__container div:nth-of-type(1) {
  grid-area: white-button;
}
.buttons__container div:nth-of-type(2) {
  grid-area: white-button_hover;
  background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
}
.links__container {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin-bottom: 30px;
}
.links__container h3:nth-of-type(2) .link {
  color: $dark-50;
}