@import '../../dropdown/dropdown-button/dropdown-button';

.date-dropdown {
  grid-column-start: 1;
  grid-row-start: 9;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 15px 44px;
  gap: 5px 20px;
}