@import 'dropdown-menu__minus-button/dropdown-menu__minus-button';
@import 'dropdown-menu__plus-button/dropdown-menu__plus-button';

.dropdown-menu__counter {
  width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter__count {
  order: 2;
}