include dropdown-menu__minus-button/dropdown-menu__minus-button
include dropdown-menu__plus-button/dropdown-menu__plus-button

mixin counter(count)
  .dropdown-menu__counter
    h3.counter__count= count 
    block