mixin like-button(options)

  if !options
    - options = {}

  -
    var likeButtonClassName = 'like-button'
    likeButtonClassName += options.active ? ' like-button_active' : ''
    likeButtonClassName += options.class ? ` ${options.class}` : ''

  div(class= likeButtonClassName)
    .heart
    p.count=options.count