include __desc-box/grid-container__desc-box
include ../../email-form/email-form
include ../../text-field/text-field
//+text-field
.grid-container
  .text-field-default 
    +desc-box({title: 'TEXT FIELD', extra: 'DEFAULT'}) 
      +email-form
  .text-field-hover
    +desc-box({title: 'TEXT FIELD', extra: 'HOVER / FOCUS'}) 
      +text-field('This is pretty awesome')