@import 'text-field-hover/text-field-hover';
@import 'text-field-default/text-field-default';
@import 'dropdown-text-field/dropdown-text-field';
@import 'text-field-masked/text-field-masked';
@import 'dropdown-date/dropdown-date';
@import 'dropdown-filter-date/dropdown-filter-date';
@import 'text-field-subscription/text-field-subscription';
@import 'dropdown-default/dropdown-default';
@import 'dropdown-expanded/dropdown-expanded';

.grid-container {
  margin-left: 141px;
  padding-top: 141px;
  display: grid;
  grid-template-columns: 320px 126px 320px 72px 320px;
  grid-template-rows: 65px 20px 65px 20px 65px 20px 65px 40px 65px 40px 65px 40px 65px 100px 65px 20px 184px 40px 44px 20px 215px 100px 158px;
}