@import '__text-field-hover/grid-container__text-field-hover';
@import '__text-field-default/grid-container__text-field-default';

.grid-container {
  margin-left: 141px;
  padding-top: 143px;
  display: grid;
  grid-template-columns: 320px 126px 320px 72px 320px;
  grid-template-rows: 65px 20px 65px;
}