@import '__rect/color-wrapper__rect';
@import '__desc/color-wrapper__desc';

.color-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
