include ../../../checkbox-list/__button/checkbox-list__button

.checkbox-list-1
  +checkbox-list__button('EXPANDABLE CHECKBOX LIST')
  //
    input(type="checkbox" class="custom-checkbox" id="happy" name="happy" value="yes")
    label(for="happy") Завтрак