include ../../checkbox-list/__menu/checkbox-list__checkbox/checkbox-list__checkbox
include ../../checkbox-list/__menu/checkbox-list__menu

.checkbox-buttons
  +desc-box({title: 'CHECKBOX BUTTONS'})
  +checkbox-list__menu
    +checkbox({text:'Можно курить', id:'smoke', checked: false})
    +checkbox({text: 'Можно с питомцами', id: 'pets', checked: true})
    +checkbox({text: 'Можно пригласить гостей (до 10 человек)', id: 'guests', checked: true})