include ../../checkbox-list/__menu/checkbox-list__menu

.rich-checkbox-buttons
  +desc-box({title: 'RICH CHECKBOX BUTTONS'})
  +checkbox-list__menu
    +checkbox({text: 'Широкий коридор', addtext: 'Ширина коридоров в номере <br> не менее 91 см.', id: 'corridor', checked: false})
    +checkbox({text: 'Помощник для инвалидов', addtext: 'На 1 этаже вас встретит специалист и проводит до номера.', id: 'assistant', checked: false})