.benefits-card {
  display: grid;
  grid-template:
    [title] 'image . title' 24px [title]
    [text] 'image . text' 24px [text]
    [gap] '. . .' 20px [gap]
    [plank] 'plank plank plank' [plank]
    / 48px 10px 222px;
}
.benefits-card__image-wrapper {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-card__title {
  grid-area: title;
  font-family: $font-stack-bold;
}
.benefits-card__text {
  grid-area: text;
}
.benefits-card__plank {
  grid-area: plank;
  margin-bottom: 20px;
  width: 280px;
  height: 1px;
  background-color: $dark-10;
}