include ../../../dropdown/dropdown-button/dropdown-button
include ../../../desc-box/desc-box

.default-dropdown
  +desc-box({title:'DROPDOWN', extra: 'DEFAULT'})
    +dropdown-button({text: '2 спальни, 2 кровати...', middle: true})