include ../../dropdown/dropdown-button/dropdown-button

.default-dropdown
  +desc-box({title:'DROPDOWN', extra: 'DEFAULT'})
  +dropdown-button({text: '2 спальни, 2 кровати...', width: 'middle', isDark: true})