include ../../dropdown/dropdown-button/dropdown-button

.default-dropdown
  +title-box({title:'DROPDOWN', add: 'DEFAULT'})
  +dropdown-button({text: '2 спальни, 2 кровати...', width: 'middle', isDark: true})