include ../../dropdown/dropdown-button/dropdown-button

.default-dropdown
  +desc-box({title:'DROPDOWN', extra: 'DEFAULT'})
  +dropdown-button({type: 'button', text: '2 спальни, 2 кровати...', middle: true, isDark: true})