@import '../../../checkbox-list/__menu/checkbox-list__menu';

.rich-checkbox-buttons {
  grid-column-start: 3;
  grid-row-start: 19;
  width: 264px;
}
.rich-checkbox-buttons .desc-box {
  margin-top: 15px;
}
.rich-checkbox-buttons .desc-box__title {
  margin-bottom: 15px;
}