.big-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  width:  320px;
  height: 44px;
  border-radius: 30px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  .big-button__arrow {
    position: absolute;
    left: 275px;
  }
  .big-button__text {
    color: white;
  }
  .button-arrow, .button-arrow::after, .button-arrow::before {
    background: white;
  }
}