.button-icon {
  position: relative;
  width: 44px;
  height: 44px;
  top: 0px;
  left: 0px;
}
.button-arrow {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 13px;
  height: 2px;
  background: $purple-prime;
}
.button-arrow::after, .button-arrow::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 11px;
  right: 1px;
  background: $purple-prime;
}
.button-arrow::after {
  top: -8px;
  transform: rotate(-45deg);
}
.button-arrow::before {
  top: -1.5px;
  transform: rotate(45deg);
}