.logo-circle {
  position: absolute;
  width: 43px;
  height: 43px;
  border: 3px solid $dark-25;
  border-radius: 50%;
}
.logo-circle-trim {
  position: absolute;
  left: 2px;
  top: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid;
  border-color: transparent white transparent transparent;
  transform: rotate(-15deg)
}
.logo-circle-left {
  position: absolute;
  left: -6px;
  top: 15px;
  width: 23px;
  height: 23px;
  border: 3px solid;
  border-color: transparent $dark-25 transparent transparent;
  border-radius: 50%;
  transform: rotate(-45deg)
}
.logo-circle-right {
  position: absolute;
  left: 19px;
  top: 15px;
  width: 23px;
  height: 23px;
  border: 3px solid;
  border-color: $dark-25 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(-5deg)
}

