@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: 
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'), 
        url('fonts/Montserrat-Regular.svg') format('svg');
    font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: 
        url('fonts/Montserrat-Bold.woff') format('woff'), 
        url('fonts/Montserrat-Bold.ttf') format('truetype'), 
        url('fonts/Montserrat-Bold.svg') format('svg');
    font-display: swap;
	font-weight: 700;
	font-style: normal;
}

/*Переменные для шрифтов*/

$font-stack-regular: 'Conv_Montserrat-Regular', sans-serif;
$font-stack-bold: 'Conv_Montserrat-Bold', sans-serif;

/*Стили шрифтов для заголовков и текста*/

body {
    font-family: $font-stack-regular;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
}

h1 {
    font-family: $font-stack-bold;
    font-size: 24px;
    line-height: 29px;
    color: $dark-shade-100;
}

h2 {
    font-family: $font-stack-bold;
    font-size: 19px;
    line-height: 23px;
    color: $dark-shade-100;
}

h3 {
    font-family: $font-stack-bold;
    font-size: 12px;
    line-height: 15px;
    color: $dark-shade-100;
}

