include ../like-button/like-button

mixin comment(options)

  if !options
    - options = {}

  .comment 
    img.comment__image(src = require(`./images/jpg/${options.image}`), alt = options.image)
    +like-button({count: options.likeCount, active: options.likeActive})
    p.comment__name= options.name
    p.comment__date= options.date
    p.comment__text= options.text