@import '../like-button/like-button';

.comment {
  position: relative;
  display: grid;
  gap: 0px 12px;
  grid-template-columns: 48px 653px;
  grid-template-rows: 24px 24px 10px 72px;
  grid-template-areas: 
  'image name'
  'image date'
  '. .'
  'like text';
}
.comment__image {
  position: absolute;
  left: -18px;
  top: -10px;
  grid-area: image;
  z-index: -1;
}
.like-button {
  margin-left: 6px;
  margin-top: 2px;
  grid-area: like;
}
.comment__name {
  grid-area: name;
  font-family: $font-stack-bold;
}
.comment__date {
  grid-area: date;
}
.comment__text {
  grid-area: text;
}
