@import '../like-button/like-button';

.comment {
  position: relative;
  display: grid;
  grid-template:
    [comment-name] 'comment-image . comment-name' 24px [comment-name]
    [comment-date] 'comment-image . comment-date' 24px [comment-date]
    [gap] '. . .' 10px [gap]
    [comment-like] 'comment-like . comment-text' 72px [comment-like]
    / 48px 12px 653px;
  .like-button {
    grid-area: comment-like;
    margin: 1px 0 0 6px;
  }
}
.comment__image {
  grid-area: comment-image;
  position: absolute;
  left: -18px;
  top: -10px;
  z-index: -1;
}
.comment__name {
  grid-area: comment-name;
  font-family: $font-stack-bold;
}
.comment__date {
  grid-area: comment-date;
}
.comment__text {
  grid-area: comment-text;
}