.radio-button__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-button__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.radio-button__label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $dark-25;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
.radio-button__input:checked+.radio-button__label::before {
  border-color: $purple-prime;
  background-image: url(/svg/radio.svg);
}