.font-container {
  width: 436px;
  height: 321px;
  display: grid;
  grid-template-columns: 37px 369px;
  grid-template-rows: 60px 48px 13px 48px;
  gap: 50px 30px;
}
.font-name {
  color: $dark-25;
  place-self: start end;
}
.font-container__title {
  font-size: 24px;
  line-height: 29px;
}
.font-container__inside-title {
  font-size: 19px;
}
.font-container__label {
  font-size: 12px;
  line-height: 15px;
}