.font-container {
  position: absolute; 
  margin-left: 846px;
  padding-top: 145px;
  width: 436px;
  height: 321px;
  display: grid;
  grid-template-columns: 37px 369px;
  grid-template-rows: 59px 47px 15px 48px;
  gap: 50px 30px;
}
.font-container p {
  place-self: start end;
  color: $dark-25;
}
.font-container .title {
  font-size: 24px;
  line-height: 29px;
}
.font-container .inside-title {
  font-size: 19px;
}
.font-container .label {
  font-size: 12px;
  line-height: 15px;
}
