@import 'color-container/color-container';
@import 'font-container/font-container';

.ui-colors-type {
  position: relative;
  height: 900px;
  .logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}