@import '../../../buttons/button/button';

.dropdown-menu_acceptable {
  .accept-box {
    width: 299px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin: 21px 0 12px 0;
  }
}
.clear-button, .accept-button {
  border: none;
  padding: 0;
}
.clear-button-text, .accept-button-text {
  color: $purple-prime;
}