mixin accept(clear, accept)
  .accept-box
    button.button.clear-button(type='button')
      h3.clear-button__text= clear 
    button.button.accept-button(type='button')
      h3.accept-button__text= accept