mixin accept(options)

  if !options
    - options= {}

  .accept-box
    h3.clear-button-text= options.clear 
      button.button.clear-button(type='button')  
    h3.accept-button-text= options.accept
      button.button.accept-button(type='button')