include ../../../dropdown/dropdown-button_mini/dropdown-button_mini
include ../../../desc-box/desc-box

.date-dropdown
  +desc-box({title:'DATE DROPDOWN'})
    +dropdown-button({text: 'ДД.ММ.ГГГГ', mini: true})
  +desc-box({title:'DATE DROPDOWN'})
    +dropdown-button({text: '19.08.2019', mini: true})