mixin item(options)

  if !options
    - options = {}

  -
    var minusButtonClassName = 'dropdown-menu__minus-button'
    minusButtonClassName += options.minusTransparent ? ' dropdown-menu__minus-button_transparent' : ''

    var plusButtonClassName = 'dropdown-menu__plus-button'
    plusButtonClassName += options.plusTransparent ? ' dropdown-menu__plus-button_transparent' : ''

  li.dropdown-menu__item
    h3.dropdown-menu__text= options.text
    .dropdown-menu__counter
      h3.dropdown-menu__counter-count= options.count
      button(type='button' class = minusButtonClassName)
      button(type='button' class = plusButtonClassName)