.desc-box {
  .desc-box__title {
    display: flex;
    justify-content: space-between;
    height: 15px;
    margin-bottom: 5px;
  }
  .desc-box__title p {
    color: $dark-50;
    font-size: 12px;
    line-height: 15px;
  }
}
