.desc-box {
  width: 320px;
  height: 65px;

  .title-box {
    display: flex;
    justify-content: space-between;
    height: 21px;
  }
  .title-box p {
    color: $dark-50;
    font-size: 12px;
    line-height: 15px;
  }
}
