include ../../benefits-card/benefits-card

.benefits
  +benefits-card({title: 'Комфорт', text: 'Шумопоглощающие стены', image: 'smile'})
  +benefits-card({title: 'Удобство', text: 'Окно в каждой из спален', image: 'hotel'})