include ../input/input
include ../gender-buttons/gender-buttons
include ../title-box/title-box
include ../toggle/toggle
include ../big-button/big-button
include ../white-button/white-button

.reg-card
  form.reg-card-reg-form
    h1.reg-card__reg-title= 'Регистрация аккаунта'
    +input({class: 'reg-card-first-name', id: 'first-name', placeholder: 'Имя'})
    +input({class: 'reg-card-last-name', id: 'last-name', placeholder: 'Фамилия'})
    +gender-buttons({class: 'reg-card-gender', name: 'reg-gender'})
    +title-box({class: 'reg-card-date-title', title: 'ДАТА РОЖДЕНИЯ'})
    +input({class: 'reg-card-date-input', id: 'date', name:'birth-date', placeholder: 'ДД.ММ.ГГГГ'})
    +title-box({class: 'reg-card-data-title', title: 'ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС'})
    +input({class: 'reg-card-mail-input', id: 'date', name: 'mail', placeholder: 'Email'})
    +input({class: 'reg-card-pass-input', id: 'date', name: 'pass', placeholder: 'Пароль'})
    +toggle({class: 'reg-card-toggle-offer', text: 'Получать спецпредложения', id: 'reg-offer', checked: false})
    +big-button({class: 'reg-card-pay-btn', text: 'ПЕРЕЙТИ К ОПЛАТЕ'})
  form.reg-card-mini-log-form
    p.reg-card__log-text= 'Уже есть аккаунт на Toxin'
    +white-button({class: 'reg-card-log-btn', text: 'ВОЙТИ'})