include __item_count/dropdown-menu__item_count
include ../../apply-box/apply-box

mixin dropdown-menu(options)

  if !options
    - options = {}

  -
    var menuClass = 'dropdown-menu'
    menuClass += options.applicable ? ' dropdown-menu_applicable' : ''
    menuClass += options.clear ? ' dropdown-menu_applicable-clear' : ''

  ul(class = menuClass)
    block
    .dropdown-menu__apply-box
      +apply-box