@import '__item_count/dropdown-menu__item_count';
@import '../../apply-box/apply-box';

.dropdown-menu {
  border: 1px solid $dark-50;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  padding: 5px 6px 0px 14px;
}
.dropdown-menu__apply-box {
  display: none;
}
.dropdown-menu_applicable {
  .dropdown-menu__apply-box {
    margin: 21px 0 12px 0;
  }
  .clear-button {
    visibility: hidden;
  }
  .dropdown-menu__apply-box {
    display: block;
  }
}
.dropdown-menu_applicable-clear {
  .clear-button {
    visibility: visible;
  }
}