include dropdown-menu__item/dropdown-menu__item

mixin dropdown-menu(options)
  -
    var menuClassName = 'dropdown dropdown-menu text-field'
    menuClassName += 
    options.mini ? ' text-field_mini' 
    : options.middle 
    ? ' text-field_middle' 
    : ''

  ul(class = menuClassName)
    block