mixin dropdown-menu
  div(class='dropdown-menu ')
    li.dropdown-menu-list
      h3 СПАЛЬНИ
      .count-block
        button(type='button' class='button minus-button')
        h3 2
        button(type='button' class='button plus-button')
          .plus-button__plug