@import '../../../../../buttons/button/button';

.dropdown-menu__minus-button { 
  order: 1;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $dark-25;
  border-radius: 50%;
}
.dropdown-menu__minus-button::after {
  position: absolute;
  left: 12px;
  content: '';
  width: 4px;
  height: 1px;
  background: $dark-50;
}
.dropdown-menu__minus-button_transparent {
  opacity: 50%;
}