.arrow-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.arrow, .arrow::after, .arrow::before {
  position: absolute;
  background: $purple-prime;
}
.arrow {
  top: 7px;
  left: 0px;
  width: 13px;
  height: 2px;
}
.arrow::after, .arrow::before {
  content: '';
  width: 2px;
  height: 11px;
  right: 1px;
}
.arrow::after {
  top: -8px;
  transform: rotate(-45deg);
}
.arrow::before {
  top: -1.5px;
  transform: rotate(45deg);
}