include ../input
include ../../form

mixin sub-input
  .sub-input
    +form({})
      +input({placeholder: 'Email'})
      button(type='submit' value='' class='arrow-button')
        .button-icon
          .button-icon__arrow