mixin default-button(options)

  if !options
    - options = {}

  -
    var buttonClassName = 'default-button'
    buttonClassName += options.class ? ` ${options.class}` : ''

  button(class = buttonClassName, type = options.type, name = options.name, value = options.value)
    h3.default-button__text= options.text