.default-button {
  width: 99px;
  height: 44px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
}
.default-button h3 {
  color: white;
}
.default-button:hover {
  background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
}