include ../../../bullet-list/bullet-list

.bullet-lists
  +desc-box({title: 'BULLET LIST'})
    +bullet-list
      +bullet-list__item({text: 'Нельзя с питомцами'})
      +bullet-list__item({text: 'Без вечеринок и мероприятий'})
      +bullet-list__item({text: 'Время прибытия — после 13:00, а выезд до 12:00'})