include ../../dropdown/dropdown

.dropdown-expanded-3 
  +desc-box({title:'DROPDOWN'})
  +dropdown
    +dropdown-button({text: '3 гостя', isDark: true})
    +dropdown-menu
      +item({text: 'ВЗРОСЛЫЕ', count: '2'})
      +item({text: 'ДЕТИ', count: '1'})
      +item({text: 'МЛАДЕНЦЫ', count: '0', minusTransparent: true})
      +accept({clear: 'ОЧИСТИТЬ', accept: 'ПРИМЕНИТЬ'})