mixin dropdown-button-arrow(options)
  -
    var arrowClassName = 'dropdown-button-arrow'
    arrowClassName += options.dark ? ' dropdown-button-arrow_dark' : ''
    

  .dropdown-button-icon
    div(class=arrowClassName)