@import '../dropdown/dropdown-button/dropdown-button';

.room-pick-form {
  grid-area: room-pick;
  background: white;
  width: 380px;
  height: 374px;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: grid;
  grid-template:
    [header] 'header header header' 58px [header]
    [gap] '. . .' 22px [gap]
    [date-in-title] 'date-in-title . date-out-title' 15px [date-in-title]
    [gap] '. . .' 5px [gap]
    [date-btns] 'date-in-btn . date-out-btn' 44px [date-btns]
    [gap] '. . .' 21px [gap]
    [guests-title] 'guests-title guests-title guests-title' 15px [guests-title]
    [gap] '. . .' 5px [gap]
    [guests-btn ] 'guests-btn guests-btn guests-btn' 44px [guests-btn]
    [gap] '. . .' 31px [gap]
    [pick-btn] 'pick-btn pick-btn pick-btn' 44px [pick-btn]
    / 150px 20px 150px;
}
.room-pick-form__title {
  grid-area: header;
}
.room-pick-form-date-in-title {
  grid-area: date-in-title;
}
.room-pick-form-date-out-title {
  grid-area: date-out-title;
}
.room-pick-form-date-in-btn {
  grid-area: date-in-btn;
}
.room-pick-form-date-out-btn {
  grid-area: date-out-btn;
}
.room-pick-form-guests-title {
  grid-area: guests-title;
}
.room-pick-form-guests-btn {
  grid-area: guests-btn;
}
.room-pick-form-pick-btn {
  grid-area: pick-btn;
}