@import '../../../desc-box/desc-box';
@import '../../../dropdown/dropdown-button/dropdown-button';

.date-dropdown {
  grid-column-start: 1;
  grid-row-start: 9;
  display: flex;
  justify-content: space-between;
}