@import '../../like-button/like-button';

.like-buttons {
  grid-column-start: 3;
  grid-row-start: 9;
  grid-row-end: 11;
  .desc-box {
    margin: 33px 0px 15px 0px;
  }
}
.like-buttons__wrapper {
  display: flex;
  width: 90px;
  justify-content: space-between;
}