@import '../../../text-field/text-field';
@import '../../../form/form';
@import '../__desc-box/grid-container__desc-box';

.grid-container__text-field-default {
  grid-column-start: 1;
  grid-row-start: 1;

  .form__input {
    outline: none;
  }
}