.color-wrapper__rect {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.color-wrapper__rect_dark-100 {
  @extend .color-wrapper__rect;
  background: $dark-100;
}
.color-wrapper__rect_dark-75 {
  @extend .color-wrapper__rect;
  background: $dark-75;
}
.color-wrapper__rect_dark-50 {
  @extend .color-wrapper__rect;
  background: $dark-50;
}
.color-wrapper__rect_dark-25 {
  @extend .color-wrapper__rect;
  background: $dark-25;
}
.color-wrapper__rect_dark-5 {
  @extend .color-wrapper__rect;
  background: $dark-5;
}
.color-wrapper__rect_purple-prime {
  @extend .color-wrapper__rect;
  background: $purple-prime;
}
.color-wrapper__rect_green-sec {
  @extend .color-wrapper__rect;
  background: $green-sec;
}