@import '../../text-field/text-field';

.dropdown-button {
  @extend .text-field;
  display: flex;
  justify-content: space-between;
}
.dropdown-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 35px;
}
.dropdown-button__arrow {
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-color: transparent $dark-50 $dark-50 transparent ;
  transform: rotate(45deg);
}