mixin dropdown-button(options)
  -
    var buttonClassName = 'dropdown-button text-field'
    buttonClassName += options.mini ? ' dropdown-button_mini' : ''

  div(class=buttonClassName)
    p= options.text
    .dropdown-button-box 
      .dropdown-button__arrow