mixin dropdown-button(options)
  -
    var buttonClassName = 'dropdown-button text-field' 
    buttonClassName += 
    options.mini ? ' text-field_mini' 
    : options.middle 
    ? ' text-field_middle' 
    : ''

  div(class=buttonClassName)
    p= options.text
    .dropdown-button-box 
      .dropdown-button__arrow