mixin dropdown-button(options)
  -
    var buttonClassName = 'button dropdown-button text-field' 
    buttonClassName += 
    options.mini ? ' text-field_mini' 
    : options.middle 
    ? ' text-field_middle' 
    : ''

  button(type='button' value='' class=buttonClassName)
    p.dropdown-button__text= options.text
    .dropdown-button-icon
      .dropdown-button-arrow