include ../../icons/dropdown-arrow/dropdown-arrow

mixin dropdown-button(options)

  if !options
    - options = {}

  -
    var buttonClassName = 'text-field dropdown-button'
    buttonClassName += options.width ? ` text-field_width_${options.width}` : '' //mini, middle, '' - max
    buttonClassName += options.class ? ` ${options.class}` : ''

  button(type='button' value = options.value, class = buttonClassName)
    p.dropdown-button__text= options.text
    +dropdown-arrow({dark: options.isDark})