mixin dropdown-button(options)
  -
    var buttonClassName = 'dropdown-button' 
    buttonClassName += 
    options.mini ? ' dropdown-button_mini' 
    : options.middle 
    ? ' dropdown-button_middle' 
    : ''

  div(class=buttonClassName)
    p= options.text
    .dropdown-button-box 
      .dropdown-button__arrow