include ../../icons/dropdown-arrow-icon/dropdown-arrow-icon

mixin dropdown-button(options)

  if !options
    - options = {}

  -
    var buttonClassName = 'dropdown-button text-field'
    buttonClassName += options.width ? ` text-field_width_${options.width}` : ''
    buttonClassName += options.class ? ` ${options.class}` : ''

  button(type='button' value=options.value, class= buttonClassName)
    p.dropdown-button__text= options.text
    +dropdown-arrow-icon({dark: options.isDark})