include dropdown-button-arrow/dropdown-button-arrow

mixin dropdown-button(options)
  -
    var buttonClassName = 'button dropdown-button text-field'
    var isDark = options.isDark
    buttonClassName += 
    options.mini ? ' text-field_mini' 
    : options.middle 
    ? ' text-field_middle' 
    : ''

  button(type='button' value='' class=buttonClassName)
    p.dropdown-button__text= options.text
    +dropdown-button-arrow({dark: isDark})