include ../../icons/dropdown-arrow-icon/dropdown-arrow-icon

mixin dropdown-button(options)

  if !options
    - options = {}

  -
    var buttonClassName = 'text-field button dropdown-button'
    var isDark = options.isDark
    buttonClassName += 
    options.mini ? ' text-field_mini' 
    : options.middle 
    ? ' text-field_middle' 
    : ''

  button(type=options.type value=options.value class=buttonClassName)
    p.dropdown-button__text= options.text
    +dropdown-arrow-icon({dark: isDark})