@import '../input/input';
@import '../dropdown/dropdown-button/dropdown-button';
@import '../sub-form/sub-form';



@import 'dropdown-default/dropdown-default';
@import 'dropdown-expanded-1/dropdown-expanded-1';
@import 'dropdown-expanded-2/dropdown-expanded-2';
@import 'dropdown-expanded-3/dropdown-expanded-3';
@import 'expandable-checkbox-list/expandable-checkbox-list';
@import 'checkbox-buttons/checkbox-buttons';
@import 'expandable-checkbox-list-expand/expandable-checkbox-list-expand';
@import 'rich-checkbox-buttons/rich-checkbox-buttons';
@import 'radio-buttons/radio-buttons';
@import 'toggle-box/toggle-box';
@import 'like-buttons/like-buttons';
@import 'rate-buttons/rate-buttons';
@import 'benefits/benefits';
@import 'comment-block/comment-block';
@import 'bullet-list-block/bullet-list-block';
@import 'range-slider-block/range-slider-block';
@import 'buttons/buttons';
@import 'pagination-block/pagination-block';

.ui-form-elements {
  position: relative;
  padding: 143px 0px 0px 141px;
  display: grid;
  grid-template:
    [start] 'ui-input . . . .' 65px [row2]
    [gap] '. . . . .' 20px [gap]
    [row3] 'ui-hover-input . . . .' 65px [row4]
    [gap] '. . . . .' 19px [gap]
    [row5] 'ui-dropdown-button . . . .' 65px [row6]
    [gap] '. . . . .' 21px [gap]
    [row7] 'ui-date-input . . . .' 70px [row8]
    [gap] '. . . . .' 35px [gap]
    [row9] 'ui-date-dropdown . . . .' 65px [row10]
    [gap] '. . . . .' 40px [gap]
    [row11] 'ui-filter-date-dropdown . . . .' 65px [row12]
    [gap] '. . . . .' 40px [gap]
    [row13] 'ui-sub-form . . . .' 65px [row14]
    [gap] '. . . . .' 98px [gap]
    [row15] '. . . . .' 64px [row16]
    [gap] '. . . . .' 20px [gap]
    [row17] '. . . . .' 182px [row18]
    [gap] '. . . . .' 40px [gap]
    [row19] '. . . . .' 44px [row20]
    [gap] '. . . . .' 20px [gap]
    [row21] '. . . . .' 215px [row22]
    [gap] '. . . . .' 103px [gap]
    [row23] '. . . . .' 158px [end]
    / 320px 126px 320px 72px 320px;
  height: 1853px;
}
.ui-form-elements-logo {
  position: absolute;
  left: 30px;
  top: 30px;
}
.ui-input {
  grid-area: ui-input;
}
.ui-hover-input {
  grid-area: ui-hover-input;
  .input {
    border-color: $dark-50;
  }
  .input::placeholder {
    color: $dark-75;
  }
}
.ui-dropdown-button {
  grid-area: ui-dropdown-button;
}
.ui-date-input {
  grid-area: ui-date-input;
}
.ui-date-dropdown {
  grid-area: ui-date-dropdown;
  display: grid;
  grid-template: 15px 44px / 150px 150px;
  gap: 5px 20px;
}
.ui-filter-date-dropdown {
  grid-area: ui-filter-date-dropdown;
}
.ui-sub-form {
  grid-area: ui-sub-form;
}