include ../input/input
include ../dropdown/dropdown-button/dropdown-button
include ../sub-form/sub-form

.ui-form-elements
  +logo({class: 'ui-form-elements-logo'})
  .ui-input
    +title-box({title: 'TEXT FIELD', add: 'DEFAULT'}) 
    +input({placeholder: 'Email'})
  .ui-hover-input
    +title-box({title: 'TEXT FIELD', add: 'HOVER / FOCUS'})
    +input({placeholder: 'This is pretty awesome'})
  .ui-dropdown-button
    +title-box({title: 'DROPDOWN'})
    +dropdown-button({text: 'Сколько гостей'})
  .ui-date-input
    +title-box({title: 'MASKED TEXT FIELD'})
    +input({id: 'date', name: 'birth-date', placeholder: 'ДД.ММ.ГГГГ'})
  .ui-date-dropdown
    +title-box({title:'DATE DROPDOWN'})
    +title-box({title:'DATE DROPDOWN'})
    +dropdown-button({text: 'ДД.ММ.ГГГГ', width: 'mini'})
    +dropdown-button({text: '19.08.2019', width: 'mini'})
  .ui-filter-date-dropdown
    +title-box({title: 'FILTER DATE DROPDOWN'})
    +dropdown-button({text: '19 авг - 23 авг', width: 'middle'})
  .ui-sub-form
    +title-box({title: 'SUBSCRIPTION TEXT FIELD'})
    +sub-form
  include dropdown-default/dropdown-default
  include dropdown-expanded-1/dropdown-expanded-1
  include dropdown-expanded-2/dropdown-expanded-2
  include dropdown-expanded-3/dropdown-expanded-3
  include expandable-checkbox-list/expandable-checkbox-list
  include checkbox-buttons/checkbox-buttons
  include expandable-checkbox-list-expand/expandable-checkbox-list-expand
  include rich-checkbox-buttons/rich-checkbox-buttons
  include radio-buttons/radio-buttons
  include toggle-box/toggle-box
  include like-buttons/like-buttons
  include rate-buttons/rate-buttons
  include benefits/benefits
  include comment-block/comment-block
  include bullet-list-block/bullet-list-block
  include range-slider-block/range-slider-block
  include buttons/buttons
  include pagination-block/pagination-block