@import '../desc-box/desc-box';

@import 'text-field-default/text-field-default';
@import 'text-field-hover/text-field-hover';
@import 'dropdown-text-field/dropdown-text-field';
@import 'text-field-masked/text-field-masked';
@import 'dropdown-date/dropdown-date';
@import 'dropdown-filter-date/dropdown-filter-date';
@import 'text-field-subscription/text-field-subscription';
@import 'dropdown-default/dropdown-default';
@import 'dropdown-expanded/dropdown-expanded';
@import 'dropdown-expanded-2/dropdown-expanded-2';
@import 'dropdown-expanded-3/dropdown-expanded-3';
@import 'expandable-checkbox-list/expandable-checkbox-list';
@import 'checkbox-buttons/checkbox-buttons';
@import 'expandable-checkbox-list-expand/expandable-checkbox-list-expand';
@import 'rich-checkbox-buttons/rich-checkbox-buttons';
@import 'radio-buttons/radio-buttons';
@import 'toggle-box/toggle-box';
@import 'like-buttons/like-buttons';
@import 'rate-buttons/rate-buttons';
@import 'benefits/benefits';
@import 'comment-block/comment-block';
@import 'bullet-list-block/bullet-list-block';
@import 'range-slider-block/range-slider-block';
@import 'buttons/buttons';
@import 'pagination-block/pagination-block';

.ui-form-elements {
  position: relative;
  padding: 143px 0px 0px 141px;
  display: grid;
  grid-template-columns: 320px 126px 320px 72px 320px;
  grid-template-rows: 65px 20px 65px 19px 65px 21px 69px 35px 65px 40px 65px 40px 65px 99px 64px 20px 182px 40px 44px 20px 215px 103px 158px;
  height: 1853px;
  .logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}