include ../../../toggle/toggle

.toggle-box
  +desc-box({title: 'TOGGLE'})
    +toggle({text: 'Получать спецпредложения', id: 'offer', checked: true})
    +toggle({text: 'Получать спецпредложения', id: 'take-offer', checked: false})