mixin white-button(options)

  if !options
    - options= {}

  -
    var buttonClassName = 'white-button' 
    buttonClassName += options.class ? ` ${options.class}` : ''

  div(class = buttonClassName)
    div(class = 'white-button__border')
      button(class = 'white-button__button', type = options.type, name = options.name, value = options.value)
        h3.white-button__text= options.text