@import 'color-wrapper/color-wrapper';

.color-container {
  position: absolute;
  margin-left: 150px;
  margin-top: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 610px;
}
