include color-wrapper/color-wrapper

.color-container 
  +color-wrapper({color: 'dark-100', colorName: 'Dark Shade 100%', colorHex: '#1F2041'})
  +color-wrapper({color: 'dark-75', colorName: 'Dark Shade 75%', colorHex: '#1F2041'})
  +color-wrapper({color: 'dark-50', colorName: 'Dark Shade 50%', colorHex: '#1F2041'})
  +color-wrapper({color: 'dark-25', colorName: 'Dark Shade 25%', colorHex: '#1F2041'})
  +color-wrapper({color: 'dark-5', colorName: 'Dark Shade 5%', colorHex: '#1F2041'})
  +color-wrapper({color: 'purple-prime', colorName: 'Purple', colorHex: '#BC9CFF'})
  +color-wrapper({color: 'green-sec', colorName: 'Green', colorHex: '#6FCF97'})