.toggle {
  display: flex;
  margin-bottom: 10px;
}
.toggle__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.toggle__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.toggle__label::before {
  margin-right: 10px;
  content: '';
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 20px;
  border: 1px solid $dark-25;
  border-radius: 10px 10px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-image: url(/svg/faded-radio.svg);
}
.toggle__input:checked+.toggle__label::before {
  border-color: $purple-prime;
  background-position: 90% 50%;
  background-image: url(/svg/radio.svg);
}