@import 'dropdown-menu__counter/dropdown-menu__counter';

.dropdown-menu__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 6px 0 0;
}
.dropdown-menu__item:first-child {
  margin-top: -9px;
}