@import 'dropdown-menu__counter/dropdown-menu__counter';

.dropdown-menu__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.dropdown-menu__text {
  padding-bottom: 1px;
}