doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Hotel
  body
    include components/desc-box/desc-box
    include components/icons/logo/logo
    include components/ui-colors-type/ui-colors-type
    include components/ui-form-elements/ui-form-elements
    include components/ui-cards/ui-cards