@import '../../../like-button/like-button';

.like-buttons {
  grid-column-start: 3;
  grid-row-start: 9;
  .desc-box__title {
    margin-bottom: 16px;
  }
}
.like-buttons__wrapper {
  display: flex;
  width: 90px;
  justify-content: space-between;
}