include ../../dropdown/dropdown

.dropdown-expanded-2 
  +desc-box({title:'DROPDOWN'})
  +dropdown
    +dropdown-button({text: 'Сколько гостей...', isDark: true})
    +dropdown-menu({applicable: true})
      +item({text: 'ВЗРОСЛЫЕ', count: 0, minusTransparent: true})
      +item({text: 'ДЕТИ', count: 0, minusTransparent: true})
      +item({text: 'МЛАДЕНЦЫ', count: 0, minusTransparent: true})