include ../input/input
include ../icons/button-arrow-icon/button-arrow-icon

mixin sub-form
  form.sub-form
    +input({placeholder: 'Email'})
    button(type='submit' value='' class='arrow-button')
      +button-arrow-icon