@import '../input/input';
@import '../icons/arrow/arrow';

.sub-form {
  position: relative;
  width: 266px;
}
.sub-form-input {
  padding-right: 44px;
}
.sub-form-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 222px;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
}