include ../input/input
include ../icons/arrow/arrow

mixin sub-form
  form.sub-form
    +input({class: 'sub-form-input', placeholder: 'Email', width: 'middle'})
    button(type = 'submit' class = 'sub-form-arrow')
      +arrow