.text-field {
  width: 320px;
  height: 44px;
  border: 1px solid $dark-25;
  border-radius: 4px;
  padding: 8px 0px 7px 14px;
}
.text-field_mini {
  width: 150px;
}
.text-field_middle {
  width: 266px;
}