@import '../../checkbox-list/__button/checkbox-list__button';
@import '../../checkbox-list/__menu/checkbox-list__menu';

.expandable-checkbox-list-expand {
  grid-column-start: 1;
  grid-row-start: 21;
}