mixin link(options)

  if !options
    - options = {}

  -
    var linkClassName= 'link'
    linkClassName += options.class ? ` ${options.class}` : ''

  a(class = linkClassName, href = options.href)
    h3.link__text= options.text