@import '../../icons/dropdown-arrow-icon/dropdown-arrow-icon';

.checkbox-list__button {
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 266px;
  margin-bottom: 3px;
}